.a {
  color: #666;
  .b {
    color: $goodGuy;
    .c {
      color: #888;
      .d {
        color: #000;
        .e {
          color: #1c1c1c;
        }
      }
    }
  }
}

.zz {
  color: #000;
}